.logo {
    width: 100px
}

.bg-dark {
    background-color: #3f51b5e3 !important;
}

.nav-item {
    padding: 0 22px;
}

.nav-link {
    padding: 8px 37px !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black !important;
    background-color: #a9ebf0;
    border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(31, 255, 141);
}

.col-md-7 {
    margin-top: 12%
}

.col-md-5 {
    margin-top: 2%;
}

.open-button {
    background-color: #8edf7a;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0px;
    right: 28px;
    width: 170px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 15px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.price {
    background-color: #caa9e999;
}

.price:hover {
    box-shadow: 0 .5rem 0.8rem rgba(0, 0, 0, 0.40) !important;
    transform: translateY(-10px);
}

.bt:hover {
    background-color: #1c329b94;
    color: black;
    box-shadow: 0 .5rem 0.8rem rgba(0, 0, 0, 0.40) !important;
}

.drop {
    margin: .125rem 28px 0;
}